.lmj-banner{
	display: flex;
	flex-direction: column;
	color: black;
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px black;
	align-items: center;
}
.lmj-banner-row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.jh-title {
	padding-left: 32px;
}

.jh-logo {
	height: 45px;
	width: 45px;
	position: relative;
	left: 20px;
}
.springClass{
	font-size: 20px;
}